/*
 * Globals
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

body {
  font-family: 'Roboto', Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-weight: 300;
}

input, textarea {
  font-family: 'Roboto', Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  outline: none;
}

textarea {
  resize: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333;
}

a:hover {
  text-decoration: none;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 60px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 60px;
}
.blog-title { 
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 100;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.post-header {
  padding: 20px 0;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Other things
 */

.panel.panel-default {
  position: relative;
}

.panel.panel-default .panel-body {
  padding: 15px 15px 50px 15px;
}

.panel.panel-default .btn.btn-success {
  position: absolute;
  bottom: 11px;
  right: 10px;
}

/*
 * Edit form
 */

form#edit {
  margin-top: 60px;
}

form#edit input.post-title,
form#edit textarea {
  display: block;
  width: 100%;
  border: none;
}

form#edit input:focus {
  background-color: #f6f6f6;
}

form#edit input.post-title {
  height: 70px;
  line-height: 60px;
  font-size: 50px;
  padding: 5px 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

form#edit input.post-title:focus {
  background-color: transparent;
}

form#edit textarea {
  min-height: 20em;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 22px;
}

form#edit input.post-submit {
  margin-bottom: 60px;
}